<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="#">Angular Flavors</a>
    <button
      class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapseBasic">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
            [routerLink]="['/recipes']"
            (click)="isNavbarCollapsed = true">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
            [routerLink]="['/shopping-list']"
            (click)="isNavbarCollapsed = true">Shopping List</a>
        </li>
      </ul>

      <div class="dropdown">
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Manage
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
        </div>
      </div>
    </div>
  </div>
</nav>
